body{
    background-color: #0A4174;
}
form{
    background-color: #49769F;
    width: 320px;
    margin: 0 auto;
    border: 5px black solid;
}
ul{
    list-style-type: none;
    padding: 20px 20px;
    margin: 0;
    color: #ffffff;
    border: 5px white solid;
}
ul li{
    margin: 10px;
}
.kolom{
    float: right;
}
#reset{
    color: #ffffff;
    background-color: red;
    padding: 5px 5px;
    margin-left: 31%;
}
#submit{
    color: #ffffff;
    background-color: green;
    padding: 5px 5px;
}
.gender{
    margin: 0 0 0 20px;
}
